<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div>
        <p><br></p>
    </div>
    <div>
        <div class="header">
            <button class="dropbtn"><i class="fa fa-bars menustyle fa-lg "></i></button>
            ROP Member Login
        </div>
        <div >
            <img class="thailogo" src="assets/imgs/airthailogo.jpg" alt="ThaiAirways Logo" width=32% height=22%>
        </div>
        <form >
            <div class="inpdiv">
                <i class="fa fa-envelope iconstyle"></i>
                <input class="inpfield boldf" type="text" size="26" placeholder="Membership Number" />
            </div>
            <div class="inpdiv">
                <i class="fa fa-key iconstyle"></i>
                <input size="26" class="inpfield boldf" type="password" placeholder="Password"/>
            </div>
            <div class='passlink'>
                <p>Forgot Password?</p>
            </div>
            <div class='buttonstyle'>
                <button class='buttonpos1 '>ROP MEMBER LOGIN</button>
            </div>
            <div class='buttonstyle'>
                <button class='buttonpos2 boldf'>REGISTER</button>
            </div>
        </form>
    </div>
</body>